In [ ]:
#数据库dase_intro_2020有一张名为bicycle_train的表，该表存储了两个城市在不同因素影响下某小时共享单车租用的数量。
#该表所有值均为整型数据，表结构为：

# id 记录编号，无其他意义
# city 城市代号，0为北京，1为上海
# hour 小时，代表时间
# is_workday 是否为工作日，0为否，1为是
# temp_air 大气温度，单位为摄氏度
# temp_body 体感温度，单位为摄氏度
# weather 天气代号，1为晴天，2为多云或阴天，3为雨天或雪天
# wind 风级，数值越大代表风速越大
# y 该小时内共享单车被租用的数量

In [20]:
#请编写Python程序，连接到数据库（主机地址、用户名及密码见实验8-2），查询以下问题，并合理处理数据，以适当的方式将结果输出至屏幕。
import pymysql

db = pymysql.connect(host = "cdb-r2g8flnu.bj.tencentcdb.com", port = 10209, user = "dase2020", password = "dase2020", database = "dase_intro_2020")
cursor = db.cursor()  # 使用 cursor() 方法创建一个游标对象 cursor,执行SQL语句都是通过游标对象实现
sql = "SELECT VERSION();"  # 该SQL语句返回MySQL的安装版本，用以确定是否成功连接服务器
cursor.execute(sql)  # 执行SQL语句
result = cursor.fetchone()  # 获取单条数据
print(result)
print()

#Q1从第18条记录开始的5条记录；
sql="SELECT * FROM bicycle_train LIMIT 17, 5;"
cursor.execute(sql)
result = cursor.fetchall()
print('编号 城市 小时 工作日 大气温度 体感温度 天气 风速 单车租借量')
for l in result:
    for ele in l:
        print("%3d" % ele,end=' ')
    print()
print()

#Q2数据表中风级(wind)取值范围是多少；
sql = "SELECT DISTINCT wind FROM bicycle_train ORDER BY wind;"
cursor.execute(sql)
result = cursor.fetchall()
print('最小值为:', result[0][0], '  ', '最大值为:', result[-1][0])
print()

#Q3满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的平均值；
#参考答案：20.6
sql = "SELECT AVG(temp_air) FROM bicycle_train WHERE city=0 AND hour=10 AND weather=1 AND wind BETWEEN 0 AND 1 AND y>=100;"
cursor.execute(sql)
result= cursor.fetchone()
print('平均温度为:', '%.1f'%result)
print()

#Q4满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的方差；
#提示：需要在Python中对返回的数据进行后续处理
#参考答案：37.64
sql = "SELECT temp_air FROM bicycle_train WHERE city=0 AND hour=10 AND weather=1 AND wind BETWEEN 0 AND 1 AND y>=100;"
cursor.execute(sql)
result = cursor.fetchall()
Sum=0
count=0
for l in result:
    Sum+=(l[0]-20.6)*(l[0]-20.6)
    count+=1
print('大气温度的方差为:', Sum/count)
print()

#Q5分城市显示工作日雨雪天单车租用总量，并降序排序；
#参考答案：上海为 9106。北京为 8084
cd= {0:'北京', 1:'上海'}
sql = "SELECT city,SUM(y) FROM bicycle_train WHERE is_workday=1 AND weather=3 GROUP BY city ORDER BY SUM(y) DESC;"
cursor.execute(sql)
result = cursor.fetchall()
for l in result:
    print(cd[l[0]], ':', l[1], end='  ')
print()
print()

#Q6分别查询17时至19时每小时上海市在工作日且体感温度不大于10摄氏度时租用单车的平均值（四舍五入至整数），并且结果按升序排序。
#参考答案：17时 65辆；18时 63辆；19时 42辆
sql = "SELECT hour,AVG(y) FROM bicycle_train WHERE hour BETWEEN 17 AND 19 AND city=1 AND is_workday=1 AND temp_body<=10 GROUP BY hour ORDER BY AVG(y);"
cursor.execute(sql)
result = cursor.fetchall()
for l in result:
    print(l[0], '时:', round(l[1]), '辆')

('5.7.18-20170830-log',)

编号 城市 小时 工作日 大气温度 体感温度 天气 风速 单车租借量
 18   1  17   1   8   4   1   2  75
 19   1   1   1  18  19   1   3   5
 20   1   7   0  23  25   2   1  13
 21   0   9   0  25  27   1   0  67
 22   0  16   1  11  11   3   2  76

最小值为: 0    最大值为: 7

平均温度为: 20.6

大气温度的方差为: 37.64

上海 : 9106  北京 : 8084

19 时: 42 辆
18 时: 63 辆
17 时: 65 辆